<mat-card class="card mat-elevation-z0">
	<mat-card-header class="alinhar-texto-center">
		<mat-card-title>Help Desk - Listando Chamados</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<div class="container">
			<div class="div-button" align="end">
				<button
					routerLink="create"
					class="mat-elevation-z2"
					mat-stroked-button
					color="primary"
				>
					Novo
					<mat-icon>add</mat-icon>
				</button>
			</div>
			<mat-form-field>
				<mat-label>Filter</mat-label>
				<input
					matInput
					(keyup)="applyFilter($event)"
					placeholder="Ex. ium"
					#input
				/>
			</mat-form-field>
			<mat-radio-group color="primary" aria-label="Ordenar por Status">
				<mat-radio-button (click)="orderByPrioridade('-1')" checked value="-1">TODOS</mat-radio-button>
				<mat-radio-button (click)="orderByPrioridade('0')" value="0">ABERTO</mat-radio-button>
				<mat-radio-button (click)="orderByPrioridade('1')" value="1">ANDAMENTO</mat-radio-button>
				<mat-radio-button (click)="orderByPrioridade('2')" value="2">ENCERRADO</mat-radio-button>
			</mat-radio-group>
			<div class="mat-elevation-z8">
				<table mat-table [dataSource]="dataSource">
					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef>Id</th>
						<td mat-cell *matCellDef="let element">
							{{ element.id }}
						</td>
					</ng-container>

					<ng-container matColumnDef="titulo">
						<th mat-header-cell *matHeaderCellDef>Título</th>
						<td mat-cell *matCellDef="let element">
							{{ element.titulo }}
						</td>
					</ng-container>

					<ng-container matColumnDef="nomeCliente">
						<th mat-header-cell *matHeaderCellDef>Cliente</th>
						<td mat-cell *matCellDef="let element">
							{{ element.nomeCliente }}
						</td>
					</ng-container>

					<ng-container matColumnDef="nomeTecnico">
						<th mat-header-cell *matHeaderCellDef>Técnico</th>
						<td mat-cell *matCellDef="let element">
							{{ element.nomeTecnico }}
						</td>
					</ng-container>

					<ng-container matColumnDef="dataAbertura">
						<th mat-header-cell *matHeaderCellDef>
							Data de abertura
						</th>
						<td mat-cell *matCellDef="let element">
							{{ element.dataAbertura }}
						</td>
					</ng-container>

					<ng-container matColumnDef="prioridade">
						<th mat-header-cell *matHeaderCellDef>Prioridade</th>
						<td mat-cell *matCellDef="let element">
							{{ element.nomePrioridade }}
						</td>
					</ng-container>

					<ng-container matColumnDef="status">
						<th mat-header-cell *matHeaderCellDef>Status</th>
						<td mat-cell *matCellDef="let element">
							{{ element.nomeStatus }}
						</td>
					</ng-container>

					<ng-container matColumnDef="acoes">
						<th mat-header-cell *matHeaderCellDef>Ações</th>
						<td mat-cell *matCellDef="let element">
							<a routerLink="update/{{ element.id }}">
								<i class="material-icons edit">edit</i>
							</a>
							<a (click)="confirmDelete(element.id)">
								<i class="material-icons delete">visibility</i>
							</a>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr
						mat-row
						*matRowDef="let row; columns: displayedColumns"
					></tr>
				</table>

				<mat-paginator
					[pageSizeOptions]="[5, 10, 15, 20]"
					showFirstLastButtons
					aria-label="Select page of periodic elements"
				>
				</mat-paginator>
			</div>
		</div>
	</mat-card-content>
</mat-card>
